html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
  transition: transform .3s, box-shadow .2s;
  border: 0px; 
  background-color: #1DB954; 
  background-position: center;
}
.card:hover {
  box-shadow: 0 0 15px rgba(0,0,0);
  transform: scale(1.04);
}

.navbar {
  background-color: #1DB954;
}

.searchForm {
  transition: box-shadow .2s;
}

.searchForm:hover {
  box-shadow: 0 0 15px rgba(0,0,0);
}

input[type=range]::-webkit-slider-thumb {
  background: #1DB954;
}
input[type=range]::-moz-range-thumb {
  background: #1DB954;
}
input[type=range]::-ms-thumb {
  background: #1DB954;
}