@model IEnumerable<SpotifyRecommendations.Application.Spotify.Models.Track>

@if (Model.Any())
{
    <div class="card text-white mb-3" style="margin-top: 30px; background-color: #1DB954">
        <div class="card-header">Preference list</div>
        <div class="card-body">
            @foreach (var track in Model)
            {
                <span>@track.Name - @track.Artist</span>
                <form asp-controller="Home" asp-action="RemoveTrackFromPreferenceList" method="post">
                    <input asp-for="@track.Id" type="hidden"/>
                    <button type="submit" class="btn btn-close-white">Remove</button>
                </form>
            }
            <form asp-controller="Home" asp-action="GetRecommendations" method="post">
                <button type="submit" class="btn" style="background-color: #1DB954; color: white">Get recommendations</button>
            </form>
        </div>
    </div>
}
