@model GetRecommendationsViewModel
@{
    ViewData["Title"] = "Spotify Recommendations";
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Refine search</a>
</li>

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 50px">Spotify Recommendations</h1>

    <div class="container">
        <div class="row">
            @foreach (var track in Model.RecommendedTracks)
            {
                <div class="col-4 p-2">
                    <iframe src="https://open.spotify.com/embed/track/@track.Id" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            }
        </div>
    </div>
</div>
